.profileContainer{
    display: flex;
    justify-content: center;
    
}
.profile{
    
}
.profileWall{
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: chocolate;
}
.profilPhoto{
    width: 200px;
    height: 200px;
    background-color:blue ;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 50%;
}
.profileAvatar{
    width: 800px;
    height: 800px;
}


.cvContainer{
    text-align: center;
   
}